
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #000000, #0a0a0a, #1a1a1a);
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;
}
.logo img{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    width: 60px;
}
.logo a{
    padding: 22px;
    position: absolute;
    margin-left: -4%;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}
.header .navigation ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #685cfe;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}
.header .navigation ul li ul li{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: block;
}
#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}
.img-1{
    height: 75vh;
    background-image: url("img/bio.jpg");
    background-position: center;
    text-align: center;
    background-size: cover;
}

.bio{
    color: white;
    font-family: "Notable", sans-serif;
    position: absolute;
    font-size: 25px;
    margin-left: 5%;
    margin-top: -10%;
}

.detalle-1 img{
    position: absolute;
    margin-left: 60%;
    margin-top: -2%;
    z-index: 1;
    width: 450px;
}
.detalle-2 img{
    position: absolute;
    margin-top: -30%;
    margin-left: -10%;
    z-index: -1;
}
.detalle-3 img{
    position: absolute;
    margin-top: -10%;
    margin-left: 65%;
    width: 650px;
    z-index: -1;
}
.detalle-4 img{
    position: absolute;
    margin-top: -16%;
    margin-left: -7%;
    width: 320px;
    z-index: -1;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    margin-top: 10%;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    color: gray;
}
.fila-mixta {
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo-1{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 3%;
    font-family: "Cal Sans", sans-serif;
}
.txt-1{
    width: 800px;
    margin-left: 20%;
    font-size: 25px;
    font-family: "Lexend Deca", sans-serif;
}
.txt-2{
    width: 300px;
    margin-left: 17%;
    font-size: 27px;
    margin-top: 20px;
    font-family: "Lexend Deca", sans-serif;
}
.img img{
    width: 500px;
    position: absolute;
    margin-left: 1%;
    margin-top: -13%;
    border: white 2px solid;
}
.txt-3{
    margin-left: 46%;
    margin-right: 10%;
    font-size: 27px;
    margin-top: 17%;
    width: 500px;
    font-family: "Lexend Deca", sans-serif;
}
.img-2 img{
    width: 280px;
    position: absolute;
    margin-left: 18%;
    margin-top: -32%;
    border: white 2px solid;
}



.titulo-2{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 3%;
    font-family: "Cal Sans", sans-serif;
}
.txt-4{
    font-size: 25px;
    margin-left: 15%;
    margin-right: 10%;
    width: 900px;
    font-family: "Lexend Deca", sans-serif;
}

.titulo-3{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 3%;
    font-family: "Cal Sans", sans-serif;
}


.fila-mixta2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.txt-5{
    width: 250px;
    margin-left: 15%;
    font-size: 25px;
    margin-top: 20px;
    font-family: "Lexend Deca", sans-serif;
}
.img-BZRP img{
    width: 350px;
    margin-left: 40px;
    margin-top: -27%;
    border: white 2px solid;
}
.txt-6{
    width: 600px;
    font-size: 20px;
    margin-left: 38%;
    margin-top: -10%;
    font-family: "Lexend Deca", sans-serif;
}

.titulo-4{
    margin-left: 10%;
    font-size: 20px;
    margin-top: 3%;
    font-family: "Cal Sans", sans-serif;
}
.txt-7{
    font-size: 25px;
    margin-left: 15%;
    margin-right: 10%;
    width: 900px;
    font-family: "Lexend Deca", sans-serif;
}

.contenedor{
    color: white;
}


.pie{
    margin-top: 5%;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    text-decoration: none;
}
footer .social{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    height: 60px;
}
footer .social a{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
footer .social a i{
    font-size: 20px;
    transition: all .3s ease;
}
footer .nav-section{
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}
footer .nav-section nav{
    display: flex;
    justify-content: center;
    gap: 35px;
}
footer .nav-section nav a{
    color: white;
}
footer .copy{
    padding: 15px 0;
    background-color: black;
    color: white;
}