*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    background: linear-gradient(180deg, #000000, #0a0a0a, #1a1a1a);
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;
}
.logo img{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    width: 60px;
}
.logo a{
    padding: 22px;
    position: absolute;
    margin-left: -4%;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}
.header .navigation ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #685cfe;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}
.header .navigation ul li ul li{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: block;
}
#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}

.detalle-1 img{
    position: absolute;
    width: 600px;
    transform: rotate(85deg);
    margin-left: 55%;
    margin-top: -39%;
}
.detalle-2 img{
    position: absolute;
    margin-top: -30%;
    transform: rotate(45deg);
    width: 500px;
    margin-left: -5%;
    z-index: -1;
}

.titulo{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 25px;
    font-family: "Notable", sans-serif;
    color: white;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: white;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
    color: white;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px ;
    color: white;
    font-weight: 400;
    font-family: "Cal Sans", sans-serif;
}

.form-container {
    width: 90%;
    max-width: 500px;
    border: 1px gray solid;
    padding: 25px;
    margin-left: 45%;
    margin-top: -22%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: "Notable", sans-serif;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: white;
    font-family: "Lexend Deca", sans-serif;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 1rem;
    background: rgb(245, 245, 220);
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 40%;
    padding: 15px;
    height: 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
button:hover {
    background: red;
    transition: 0.2s;
}



.pie{
    margin-top: 5%;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    text-decoration: none;
}
footer .social{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    height: 30px;
}
footer .social a{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
footer .social a i{
    font-size: 20px;
    transition: all .3s ease;
}
footer .nav-section{
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}
footer .nav-section nav{
    display: flex;
    justify-content: center;
    gap: 35px;
}
footer .nav-section nav a{
    color: white;
}
footer .copy{
    padding: 15px 0;
    background-color: black;
    color: white;
}
