
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(180deg, #000000, #0a0a0a, #1a1a1a);
    overflow-x: hidden ;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-family: "Open Sans", sans-serif;
}
.logo img{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    width: 60px;
}
.logo a{
    padding: 22px;
    position: absolute;
    margin-left: -4%;
}
.navigation ul{
    list-style: none;
}
.header .navigation ul li{
    float: left;
    position: relative;
}
.header .navigation ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: #685cfe;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}
.header .navigation ul li ul li{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul{
    display: block;
}
#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
}

.detalle-1 img{
    position: absolute;
    width: 250px;
    margin-left: 80%;
    margin-top: -7%;
    transform: rotate(25deg);
}
.detalle-2 img{
    position: relative;
    width: 180px;
    margin-top: -7%;
    margin-left: 3%;
}


.titulo{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 9%;
    margin-top: 10%;
    color: white;
    font-family: "Notable", sans-serif;
}

.albums-scroll {
    display: flex;
    gap: 5px;
    margin-left: 9%;
}

.album {
    height: 500px;
    width: 220px;
    background: #222;
    text-decoration: none;
    color: white;
}

.album img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.album h3 {
    margin: 5px 10px 0 10px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Lexend Deca", sans-serif;
}

.album p {
    margin: 0 10px;
    font-size: 14px;
    opacity: 0.8;
    font-family: "Funnel Display", sans-serif;     
}


.pie{
    margin-top: 5%;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
a{
    text-decoration: none;
}
footer .social{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    height: 60px;
}
footer .social a{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
footer .social a i{
    font-size: 20px;
    transition: all .3s ease;
}
footer .nav-section{
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}
footer .nav-section nav{
    display: flex;
    justify-content: center;
    gap: 35px;
}
footer .nav-section nav a{
    color: white;
}
footer .copy{
    padding: 15px 0;
    background-color: black;
    color: white;
}
